.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  width: 100%;
  height: 100vh;
}

#info {
  position: absolute;
  z-index: 10;
  background-color: black;
  color: #fff;
  width: 100vw;
  text-align: center;
}

#info p {
  padding: 10px 0 10px 0;
  font-weight: bold;
}

#model-controls {
  position: absolute;
  z-index: 11;
  right: 0;
  bottom: 0;
  padding: 25px;
  text-align: center;
}

#model-controls div {
  width: 100%;
}

#model-controls button {
  width: 60px;
  height: 60px;
  margin: 10px;
  background: none;
  color: #fff;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
}

#model-controls svg {
  stroke: #fff;
  height: 40px;
  width: 40px;
}